$mobile: "(min-width: 320px) and (max-width: 767px)";
$l-mobile: "(min-width: 320px) and (max-width: 768px)";
$tablet: "(min-width: 767px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px) and (max-width:1200px)";